.skills/openclaw-skills/skills/mhmalvi/newsletter-automation/workflows/01-subscriber-signup.json
{
  "name": "Newsletter — Subscriber Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter/signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1",
      "name": "Signup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "newsletter-signup"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst email = (body.email || '').trim().toLowerCase();\nconst name = (body.name || '').trim();\n\nif (!email || !email.includes('@')) {\n  return [{ json: { error: 'Valid email is required', valid: false } }];\n}\n\n// Generate confirmation token\nconst token = Array.from({ length: 32 }, () =>\n  Math.random().toString(36).charAt(2)\n).join('');\n\nreturn [{\n  json: {\n    email,\n    name: name || 'Subscriber',\n    token,\n    status: 'pending',\n    source: body.source || 'website',\n    subscribed_at: new Date().toISOString(),\n    confirmed: false,\n    valid: true\n  }\n}];"
      },
      "id": "n2",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n3",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SUBSCRIBERS_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "status": "={{ $json.status }}",
            "source": "={{ $json.source }}",
            "subscribed_at": "={{ $json.subscribed_at }}",
            "confirmed": "={{ $json.confirmed }}",
            "token": "={{ $json.token }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "subscribed_at",
              "displayName": "subscribed_at",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "confirmed",
              "displayName": "confirmed",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "n4",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Please confirm your subscription",
        "message": "=<h2>Welcome, {{ $json.name }}!</h2><p>Thanks for subscribing to our newsletter.</p><p>Please confirm your subscription by clicking the link below:</p><p><a href=\"{{ $env.NEWSLETTER_BASE_URL || 'https://YOUR_DOMAIN' }}/confirm?token={{ $json.token }}&email={{ $json.email }}\">Confirm Subscription</a></p><p>If you didn't subscribe, you can safely ignore this email.</p>",
        "options": {}
      },
      "id": "n5",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Please check your email to confirm your subscription.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n6",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.error || 'Invalid request' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n7",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        500
      ]
    }
  ],
  "connections": {
    "Signup Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}