.skills/openclaw-skills/skills/mhmalvi/newsletter-automation/workflows/03-broadcast-sender.json
{
  "name": "Newsletter — Broadcast Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter/broadcast",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1",
      "name": "Broadcast Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "newsletter-broadcast"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst subject = (body.subject || '').trim();\nconst content = (body.content || '').trim();\nconst secret = (body._secret || '').trim();\n\nif (!secret || secret !== ($env.NEWSLETTER_SECRET || 'YOUR_NEWSLETTER_SECRET')) {\n  return [{ json: { error: 'Unauthorized', valid: false } }];\n}\n\nif (!subject || !content) {\n  return [{ json: { error: 'Subject and content are required', valid: false } }];\n}\n\nreturn [{\n  json: {\n    subject,\n    content,\n    valid: true,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "n2",
      "name": "Validate Broadcast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n3",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SUBSCRIBERS_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "list"
        },
        "options": {}
      },
      "id": "n4",
      "name": "Fetch Subscribers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subscribers = $input.all().map(i => i.json);\nconst broadcast = $('Validate Broadcast').first().json;\n\nconst confirmed = subscribers.filter(s =>\n  s.status === 'confirmed' || s.confirmed === 'true' || s.confirmed === true\n);\n\nif (confirmed.length === 0) {\n  return [{ json: { skip: true, message: 'No confirmed subscribers' } }];\n}\n\nreturn confirmed.map(s => ({\n  json: {\n    email: s.email,\n    name: s.name || 'Subscriber',\n    subject: broadcast.subject,\n    content: broadcast.content\n  }\n}));"
      },
      "id": "n5",
      "name": "Filter Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "=<p>Hi {{ $json.name }},</p>{{ $json.content }}<hr><p><small>You received this because you subscribed to our newsletter. <a href=\"{{ $env.NEWSLETTER_BASE_URL || 'https://YOUR_DOMAIN' }}/unsubscribe?email={{ $json.email }}\">Unsubscribe</a></small></p>",
        "options": {}
      },
      "id": "n6",
      "name": "Send Broadcast",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Broadcast sent' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n7",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.error || 'Invalid request' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n8",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ]
    }
  ],
  "connections": {
    "Broadcast Webhook": {
      "main": [
        [
          {
            "node": "Validate Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Broadcast": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Fetch Subscribers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscribers": {
      "main": [
        [
          {
            "node": "Filter Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Confirmed": {
      "main": [
        [
          {
            "node": "Send Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Broadcast": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}