.skills/openclaw-skills/skills/mhmalvi/dental-ai-receptionist/workflows/01-inbound-call-handler.json
{
  "name": "Dental AI — 01 Inbound Call Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-ai/inbound-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Vapi/Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "dental-inbound-call",
      "id": "n1-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse inbound call payload from Vapi or Retell\nconst body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\n\n// Normalize payload from Vapi or Retell format\nconst callData = {\n  call_id: body.call_id || body.callId || body.id || '',\n  caller_phone: body.caller_number || body.from || body.phone_number || body.customer?.number || '',\n  caller_name: body.caller_name || body.customer?.name || '',\n  call_type: body.type || body.event || 'inbound',\n  transcript: body.transcript || body.messages || '',\n  summary: body.summary || body.call_summary || '',\n  intent: (body.intent || body.analysis?.intent || body.tool_calls?.[0]?.function?.name || 'unknown').toLowerCase(),\n  duration: body.duration || body.call_duration || 0,\n  recording_url: body.recording_url || body.recordingUrl || '',\n  ended_reason: body.ended_reason || body.endedReason || '',\n  timestamp: new Date().toISOString(),\n  platform: headers['x-vapi-signature'] ? 'vapi' : (headers['x-retell-signature'] ? 'retell' : 'unknown'),\n  raw_payload: body,\n  // Extract structured data from tool calls\n  patient_name: body.tool_calls?.[0]?.function?.arguments?.patient_name || body.extracted?.patient_name || '',\n  appointment_date: body.tool_calls?.[0]?.function?.arguments?.date || body.extracted?.date || '',\n  appointment_time: body.tool_calls?.[0]?.function?.arguments?.time || body.extracted?.time || '',\n  appointment_type: body.tool_calls?.[0]?.function?.arguments?.service || body.extracted?.service || '',\n  patient_email: body.tool_calls?.[0]?.function?.arguments?.email || body.extracted?.email || '',\n  cancellation_reason: body.tool_calls?.[0]?.function?.arguments?.reason || body.extracted?.cancellation_reason || '',\n  faq_question: body.tool_calls?.[0]?.function?.arguments?.question || body.extracted?.question || ''\n};\n\n// Determine business hours (configurable)\nconst now = new Date();\nconst hour = now.getHours();\nconst day = now.getDay(); // 0=Sun, 6=Sat\nconst isBusinessHours = day >= 1 && day <= 5 && hour >= 8 && hour < 18;\ncallData.is_business_hours = isBusinessHours;\n\nreturn [{ json: callData }];"
      },
      "name": "Parse Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "id": "n1-parse"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.DENTAL_CALL_LOG_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Call Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "caller_phone": "={{ $json.caller_phone }}",
            "caller_name": "={{ $json.caller_name }}",
            "intent": "={{ $json.intent }}",
            "timestamp": "={{ $json.timestamp }}",
            "platform": "={{ $json.platform }}",
            "duration": "={{ $json.duration }}",
            "summary": "={{ $json.summary }}",
            "status": "received"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "Log Call to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        400
      ],
      "id": "n1-log-sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.is_business_hours }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "After Hours"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "book_appointment",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c5",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "escalate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Escalation"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputLabel": "General / Unknown"
          }
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        920,
        400
      ],
      "id": "n1-router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/after-hours",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ After Hours Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        100
      ],
      "id": "n1-after-hours"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/book-appointment",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ Appointment Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        260
      ],
      "id": "n1-booking"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/cancel-appointment",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ Cancellation Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        420
      ],
      "id": "n1-cancel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/faq",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ FAQ Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        580
      ],
      "id": "n1-faq"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ Staff Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        740
      ],
      "id": "n1-escalate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "→ Unknown Intent Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        900
      ],
      "id": "n1-unknown"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', call_id: $json.call_id, routed_to: $json.intent }) }}",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        400
      ],
      "id": "n1-respond"
    }
  ],
  "connections": {
    "Vapi/Retell Webhook": {
      "main": [
        [
          {
            "node": "Parse Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Call Data": {
      "main": [
        [
          {
            "node": "Log Call to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Call to Sheets": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "→ After Hours Capture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Appointment Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Cancellation Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ FAQ Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Staff Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Unknown Intent Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ After Hours Capture": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Appointment Booking": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Cancellation Handler": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ FAQ Handler": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Staff Escalation": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Unknown Intent Escalation": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}