.skills/openclaw-skills/skills/mhmalvi/dental-ai-receptionist/workflows/12-sms-reply-handler.json
{
  "name": "Dental AI — 12 SMS Reply Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-ai/sms-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Twilio SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "dental-sms-reply",
      "id": "n12-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Twilio SMS webhook format\nconst data = {\n  from: body.From || body.from || '',\n  to: body.To || body.to || '',\n  message: (body.Body || body.body || '').trim(),\n  message_upper: (body.Body || body.body || '').trim().toUpperCase(),\n  sms_sid: body.SmsSid || body.MessageSid || '',\n  timestamp: new Date().toISOString()\n};\n\n// Parse intent from reply\nconst msg = data.message_upper;\nif (['CONFIRM', 'YES', 'Y', '1', 'CONFIRMED'].includes(msg)) {\n  data.intent = 'confirm';\n} else if (['CANCEL', 'NO', 'N', '2', 'CANCELLED'].includes(msg)) {\n  data.intent = 'cancel';\n} else if (['BOOK', 'SCHEDULE', 'REBOOK', 'RESCHEDULE'].includes(msg)) {\n  data.intent = 'book';\n} else if (['STOP', 'UNSUBSCRIBE', 'OPT-OUT', 'OPTOUT'].includes(msg)) {\n  data.intent = 'opt_out';\n} else {\n  data.intent = 'other';\n}\n\nreturn [{ json: data }];"
      },
      "name": "Parse SMS Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "id": "n12-parse"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "is-confirm",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "is-cancel",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "is-book",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "book",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Book"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "is-optout",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "opt_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Opt Out"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputLabel": "Other"
          }
        },
        "options": {}
      },
      "name": "Route Reply",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        400
      ],
      "id": "n12-switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$env.DENTAL_APPOINTMENTS_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $json.from }}",
            "patient_confirmed": "yes",
            "confirmed_at": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Mark Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        120
      ],
      "id": "n12-confirm-sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{ $json.from }}",
        "body": "Your appointment is confirmed! We look forward to seeing you. Please arrive 10 minutes early. Reply CANCEL anytime if you need to reschedule."
      },
      "name": "Reply: Confirmed",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1240,
        120
      ],
      "id": "n12-reply-confirm",
      "credentials": {
        "twilioApi": {
          "id": "={{$env.TWILIO_CRED_ID}}",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/cancel-appointment",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'cancel', patient_phone: $json.from, caller_phone: $json.from, cancellation_reason: 'Patient cancelled via SMS' }) }}",
        "options": {}
      },
      "name": "Trigger Cancellation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        280
      ],
      "id": "n12-cancel"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{ $json.from }}",
        "body": "=We'd love to schedule your appointment! Please call us at {{$env.DENTAL_CLINIC_PHONE}} or reply with your preferred date and time, and we'll book you in."
      },
      "name": "Reply: Booking Info",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        980,
        440
      ],
      "id": "n12-reply-book",
      "credentials": {
        "twilioApi": {
          "id": "={{$env.TWILIO_CRED_ID}}",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$env.DENTAL_PATIENTS_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $json.from }}",
            "recall_opt_out": "yes",
            "opt_out_date": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Mark Opted Out",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        600
      ],
      "id": "n12-optout-sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{ $json.from }}",
        "body": "You've been unsubscribed from our automated messages. You can still call us anytime. Reply START to opt back in."
      },
      "name": "Reply: Opt Out Confirmed",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1240,
        600
      ],
      "id": "n12-reply-optout",
      "credentials": {
        "twilioApi": {
          "id": "={{$env.TWILIO_CRED_ID}}",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/dental-ai/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ caller_phone: $json.from, reason: 'Unrecognized SMS reply', question: $json.message, source: 'sms_reply', intent: 'other' }) }}",
        "options": {}
      },
      "name": "Escalate Unknown Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        760
      ],
      "id": "n12-escalate"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{ $json.from }}",
        "body": "=Thanks for your message! Our team will review it and get back to you. For immediate help, call us at {{$env.DENTAL_CLINIC_PHONE}}. Reply BOOK to schedule, CONFIRM to confirm your appointment, or CANCEL to cancel."
      },
      "name": "Reply: General Response",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1240,
        760
      ],
      "id": "n12-reply-other",
      "credentials": {
        "twilioApi": {
          "id": "={{$env.TWILIO_CRED_ID}}",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "name": "TwiML Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        400
      ],
      "id": "n12-respond"
    }
  ],
  "connections": {
    "Twilio SMS Webhook": {
      "main": [
        [
          {
            "node": "Parse SMS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS Reply": {
      "main": [
        [
          {
            "node": "Route Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Reply": {
      "main": [
        [
          {
            "node": "Mark Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Cancellation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Booking Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Opted Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate Unknown Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Confirmed": {
      "main": [
        [
          {
            "node": "Reply: Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Cancellation": {
      "main": [
        [
          {
            "node": "TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Booking Info": {
      "main": [
        [
          {
            "node": "TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Opted Out": {
      "main": [
        [
          {
            "node": "Reply: Opt Out Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Confirmed": {
      "main": [
        [
          {
            "node": "TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Opt Out Confirmed": {
      "main": [
        [
          {
            "node": "TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Unknown Reply": {
      "main": [
        [
          {
            "node": "Reply: General Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: General Response": {
      "main": [
        [
          {
            "node": "TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}