.skills/openclaw-skills/skills/arn0ld87/dify-workflow/assets/conditional_workflow.yml
kind: app
version: 0.1.4
app:
  name: Conditional Workflow
  description: Workflow with if-else conditional branching
  mode: workflow
  icon: 🔀
  icon_background: '#E5F5FF'
  use_icon_as_answer_icon: false
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    nodes:
      - id: '3000000000001'
        type: custom
        data:
          type: start
          title: Start
          desc: ''
          selected: false
          variables:
            - variable: user_query
              label: User Query
              type: paragraph
              required: true
              max_length: 10000
        position:
          x: 100
          y: 300
        positionAbsolute:
          x: 100
          y: 300
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '3000000000002'
        type: custom
        data:
          type: if-else
          title: Check Query Type
          desc: ''
          selected: false
          logical_operator: and
          conditions:
            - variable_selector:
                - '3000000000001'
                - user_query
              comparison_operator: contains
              value: code
        position:
          x: 400
          y: 300
        positionAbsolute:
          x: 400
          y: 300
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '3000000000003'
        type: custom
        data:
          type: llm
          title: Code Assistant
          desc: ''
          selected: false
          model:
            provider: anthropic
            name: claude-3-5-sonnet-20241022
            mode: chat
            completion_params:
              temperature: 0.3
          prompt_template:
            - id: code-system
              role: system
              text: You are a coding expert. Provide code solutions.
            - id: code-user
              role: user
              text: '{{#3000000000001.user_query#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        position:
          x: 700
          y: 200
        positionAbsolute:
          x: 700
          y: 200
        width: 244
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '3000000000004'
        type: custom
        data:
          type: llm
          title: General Assistant
          desc: ''
          selected: false
          model:
            provider: anthropic
            name: claude-3-5-sonnet-20241022
            mode: chat
            completion_params:
              temperature: 0.7
          prompt_template:
            - id: general-system
              role: system
              text: You are a helpful general assistant.
            - id: general-user
              role: user
              text: '{{#3000000000001.user_query#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        position:
          x: 700
          y: 400
        positionAbsolute:
          x: 700
          y: 400
        width: 244
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '3000000000005'
        type: custom
        data:
          type: variable-aggregator
          title: Merge Responses
          desc: ''
          selected: false
          output_type: string
          variables:
            - - '3000000000003'
              - text
            - - '3000000000004'
              - text
        position:
          x: 1000
          y: 300
        positionAbsolute:
          x: 1000
          y: 300
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '3000000000006'
        type: custom
        data:
          type: end
          title: End
          desc: ''
          selected: false
          outputs:
            - variable: response
              value_selector:
                - '3000000000005'
                - output
        position:
          x: 1300
          y: 300
        positionAbsolute:
          x: 1300
          y: 300
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
    edges:
      - id: 3000000000001-source-3000000000002-target
        source: '3000000000001'
        sourceHandle: source
        target: '3000000000002'
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: if-else
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 3000000000002-true-3000000000003-target
        source: '3000000000002'
        sourceHandle: 'true'
        target: '3000000000003'
        targetHandle: target
        type: custom
        data:
          sourceType: if-else
          targetType: llm
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 3000000000002-false-3000000000004-target
        source: '3000000000002'
        sourceHandle: 'false'
        target: '3000000000004'
        targetHandle: target
        type: custom
        data:
          sourceType: if-else
          targetType: llm
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 3000000000003-source-3000000000005-target
        source: '3000000000003'
        sourceHandle: source
        target: '3000000000005'
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: variable-aggregator
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 3000000000004-source-3000000000005-target
        source: '3000000000004'
        sourceHandle: source
        target: '3000000000005'
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: variable-aggregator
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 3000000000005-source-3000000000006-target
        source: '3000000000005'
        sourceHandle: source
        target: '3000000000006'
        targetHandle: target
        type: custom
        data:
          sourceType: variable-aggregator
          targetType: end
          isInIteration: false
        zIndex: 0
        selected: false
  viewport:
    x: 0
    y: 0
    zoom: 0.9
