.skills/openclaw-skills/skills/arn0ld87/dify-workflow/assets/simple_llm_workflow.yml
kind: app
version: 0.1.4
app:
  name: Simple LLM Workflow
  description: A basic workflow with start, LLM, and end nodes
  mode: workflow
  icon: 🤖
  icon_background: '#FFEAD5'
  use_icon_as_answer_icon: false
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    nodes:
      - id: '1000000000001'
        type: custom
        data:
          type: start
          title: Start
          desc: ''
          selected: false
          variables:
            - variable: user_input
              label: User Input
              type: paragraph
              required: true
              max_length: 10000
        position:
          x: 100
          y: 200
        positionAbsolute:
          x: 100
          y: 200
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '1000000000002'
        type: custom
        data:
          type: llm
          title: LLM
          desc: ''
          selected: false
          model:
            provider: anthropic
            name: claude-3-5-sonnet-20241022
            mode: chat
            completion_params:
              temperature: 0.7
          prompt_template:
            - id: system-prompt-1
              role: system
              text: You are a helpful assistant.
            - id: user-prompt-1
              role: user
              text: '{{#1000000000001.user_input#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        position:
          x: 400
          y: 200
        positionAbsolute:
          x: 400
          y: 200
        width: 244
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: '1000000000003'
        type: custom
        data:
          type: end
          title: End
          desc: ''
          selected: false
          outputs:
            - variable: result
              value_selector:
                - '1000000000002'
                - text
        position:
          x: 700
          y: 200
        positionAbsolute:
          x: 700
          y: 200
        width: 244
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
    edges:
      - id: 1000000000001-source-1000000000002-target
        source: '1000000000001'
        sourceHandle: source
        target: '1000000000002'
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
        selected: false
      - id: 1000000000002-source-1000000000003-target
        source: '1000000000002'
        sourceHandle: source
        target: '1000000000003'
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
        selected: false
  viewport:
    x: 0
    y: 0
    zoom: 1
