.skills/openclaw-skills/skills/mhmalvi/lead-enrichment-pipeline/workflows/lead-magnet.json
{
  "name": "Lead Magnet Download Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        256,
        304
      ],
      "typeVersion": 2,
      "webhookId": "lead-magnet-dl-wh",
      "id": "2a9d22e6-82ad-4564-9ce3-a18d59a62b5c"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst isDiagnosis = input.source === 'alignment-diagnosis';\nconst base = {\n  Email: input.email || '',\n  Source: input.source || 'lead-magnet',\n  Asset: input.asset || '',\n  Timestamp: input.timestamp || new Date().toISOString(),\n  'Received At': new Date().toISOString(),\n  Score: isDiagnosis ? 35 : 25,\n  Tags: isDiagnosis ? 'subscriber,lead-magnet,diagnosis,engaged' : 'subscriber,lead-magnet'\n};\nif (isDiagnosis) {\n  base.ResultType = input.ResultType || input.resultType || '';\n  base.Badge = input.Badge || input.badge || '';\n  base.ResultTitle = input.ResultTitle || input.resultTitle || '';\n}\nreturn [{ json: base }];"
      },
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "position": [
        636,
        304
      ],
      "typeVersion": 2,
      "id": "b9a3e118-29b9-410d-9dd9-2a2c455673dc"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_LEADS_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Lead Magnets",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Source": "={{ $json.Source }}",
            "Asset": "={{ $json.Asset }}",
            "Timestamp": "={{ $json.Timestamp }}",
            "Received At": "={{ $json['Received At'] }}",
            "Score": "={{ $json.Score }}",
            "Tags": "={{ $json.Tags }}",
            "ResultType": "={{ $json.ResultType }}",
            "Badge": "={{ $json.Badge }}",
            "ResultTitle": "={{ $json.ResultTitle }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Asset",
              "displayName": "Asset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ResultType",
              "displayName": "ResultType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Badge",
              "displayName": "Badge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ResultTitle",
              "displayName": "ResultTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        860,
        304
      ],
      "typeVersion": 4.7,
      "id": "ccf21fcf-88b2-46e6-a334-fbc2e79143e3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Lead captured\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1068,
        304
      ],
      "typeVersion": 1.1,
      "id": "98ada3e7-63be-4039-b2f9-9463e79078fd"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/YOUR_LEAD_MAGNET.pdf",
        "options": {}
      },
      "name": "Load PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        636,
        520
      ],
      "id": "59ab4c9b-9705-41b7-a676-dc4ff22b908e"
    },
    {
      "parameters": {
        "fromEmail": "YOUR_FROM_EMAIL",
        "toEmail": "={{ $('Format Data').first().json.Email }}",
        "subject": "Your copy of The Alignment Playbook",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin: 0; padding: 0; background: #f7f7f7;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: #f7f7f7; padding: 32px 0;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: #ffffff; border-radius: 4px; overflow: hidden;\">\n  <tr><td style=\"padding: 32px 40px 16px 40px; text-align: center; border-bottom: 1px solid #eee;\">\n    <p style=\"font-family: Outfit, -apple-system, sans-serif; font-size: 13px; color: #666; margin: 0; letter-spacing: 1px;\">YOUR_NAME</p>\n    <p style=\"font-family: Outfit, -apple-system, sans-serif; font-size: 11px; color: #999; margin: 4px 0 0 0;\">Architect of Alignment</p>\n  </td></tr>\n  <tr><td style=\"padding: 32px 40px;\">\n    <h2 style=\"font-family: Fraunces, Georgia, serif; color: #0A0A0A; font-size: 22px; margin: 24px 0 12px 0;\">Here's your playbook.</h2><p style=\"font-family: Outfit, -apple-system, sans-serif; color: #0A0A0A; font-size: 15px; line-height: 1.65; margin: 0 0 16px 0;\">Thanks for downloading <strong>The Alignment Playbook</strong>. You'll find it attached to this email.</p><p style=\"font-family: Outfit, -apple-system, sans-serif; color: #0A0A0A; font-size: 15px; line-height: 1.65; margin: 0 0 16px 0;\">Inside, you'll discover a practical framework for building systems that align technology, teams, and business outcomes — so you can stop fighting your tools and start leveraging them.</p><h2 style=\"font-family: Fraunces, Georgia, serif; color: #0A0A0A; font-size: 22px; margin: 24px 0 12px 0;\">What's next?</h2><p style=\"font-family: Outfit, -apple-system, sans-serif; color: #0A0A0A; font-size: 15px; line-height: 1.65; margin: 0 0 16px 0;\">If the playbook resonates, let's talk about applying these principles to your specific situation. I offer free strategy calls for people who are serious about building aligned systems.</p><p style=\"text-align: center; margin: 28px 0;\"><a href=\"https://YOUR_DOMAIN/#strategy\" style=\"font-family: Outfit, -apple-system, sans-serif; background: #0A0A0A; color: #ffffff; padding: 12px 32px; text-decoration: none; font-size: 14px; font-weight: 600; border-radius: 4px;\">Book a Strategy Call</a></p><p style=\"font-family: Outfit, -apple-system, sans-serif; color: #0A0A0A; font-size: 15px; line-height: 1.65; margin: 0 0 16px 0;\">YOUR_NAME</p>\n  </td></tr>\n  <tr><td style=\"padding: 24px 40px; border-top: 1px solid #eee; text-align: center;\">\n    <p style=\"font-family: Outfit, -apple-system, sans-serif; font-size: 12px; color: #999; margin: 0;\">\n      <a href=\"https://YOUR_DOMAIN\" style=\"color: #666; text-decoration: none;\">YOUR_DOMAIN</a>\n    </p>\n  </td></tr>\n</table>\n</td></tr></table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "name": "Send Lead Magnet Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        860,
        520
      ],
      "id": "2d598df6-0861-4111-a056-bdf873e6f578",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ip = $input.first().json.headers?.['x-forwarded-for'] || \n           $input.first().json.headers?.['x-real-ip'] || \n           'unknown';\nconst now = Date.now();\nconst windowMs = 3600000; // 1 hour\nconst maxRequests = 10;\n\n// Clean old entries\nif (!staticData.rateLimits) staticData.rateLimits = {};\nconst limits = staticData.rateLimits;\nfor (const key of Object.keys(limits)) {\n  limits[key] = (limits[key] || []).filter(ts => now - ts < windowMs);\n  if (limits[key].length === 0) delete limits[key];\n}\n\n// Check rate limit\nconst requests = limits[ip] || [];\nif (requests.length >= maxRequests) {\n  throw new Error(`Rate limit exceeded for ${ip}`);\n}\n\n// Record this request\nrequests.push(now);\nlimits[ip] = requests;\n\n// Pass through\nreturn $input.all();"
      },
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.code",
      "position": [
        436,
        304
      ],
      "typeVersion": 2,
      "id": "d5d907ad-6a20-4e26-896f-221218a718f4"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load PDF": {
      "main": [
        [
          {
            "node": "Send Lead Magnet Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "giNAXrg0oK2y3Q7d"
  },
  "meta": null
}