.skills/openclaw-skills/skills/mhmalvi/email-outreach-automation/workflows/01-prospect-import.json
{
  "name": "Outreach — Prospect Import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outreach/import",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1",
      "name": "Import Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "outreach-import"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst prospects = Array.isArray(body.prospects) ? body.prospects : [body];\nconst secret = (body._secret || '').trim();\n\nif (!secret || secret !== ($env.OUTREACH_SECRET || 'YOUR_OUTREACH_SECRET')) {\n  return [{ json: { error: 'Unauthorized', valid: false, prospects: [] } }];\n}\n\nconst validated = [];\nconst errors = [];\n\nfor (const p of prospects) {\n  const email = (p.email || '').trim().toLowerCase();\n  if (!email || !email.includes('@')) {\n    errors.push(`Invalid email: ${p.email || 'empty'}`);\n    continue;\n  }\n  validated.push({\n    email,\n    name: (p.name || '').trim(),\n    company: (p.company || '').trim(),\n    title: (p.title || '').trim(),\n    campaign: (p.campaign || 'default').trim(),\n    status: 'new',\n    step: 0,\n    last_sent_at: '',\n    next_send_at: new Date().toISOString(),\n    replied: false,\n    bounced: false,\n    imported_at: new Date().toISOString()\n  });\n}\n\nreturn [{\n  json: {\n    valid: validated.length > 0,\n    prospects: validated,\n    imported: validated.length,\n    errors\n  }\n}];"
      },
      "id": "n2",
      "name": "Validate Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n3",
      "name": "Has Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.prospects.map(p => ({ json: p }));"
      },
      "id": "n4",
      "name": "Split Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_OUTREACH_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "campaign": "={{ $json.campaign }}",
            "status": "={{ $json.status }}",
            "step": "={{ $json.step }}",
            "next_send_at": "={{ $json.next_send_at }}",
            "imported_at": "={{ $json.imported_at }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "next_send_at",
              "displayName": "next_send_at",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "imported_at",
              "displayName": "imported_at",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "n5",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, imported: $('Validate Prospects').first().json.imported, errors: $('Validate Prospects').first().json.errors }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n6",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.error || 'No valid prospects' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n7",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ]
    }
  ],
  "connections": {
    "Import Webhook": {
      "main": [
        [
          {
            "node": "Validate Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Prospects": {
      "main": [
        [
          {
            "node": "Has Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid?": {
      "main": [
        [
          {
            "node": "Split Prospects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Prospects": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}