.skills/openclaw-skills/skills/mhmalvi/email-outreach-automation/workflows/02-outreach-sequence.json
{
  "name": "Outreach — Email Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_OUTREACH_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "options": {}
      },
      "id": "n2",
      "name": "Read Prospects",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst prospects = $input.all().map(i => i.json);\n\n// Sequence steps: initial, follow-up 1 (3 days), follow-up 2 (7 days), breakup (14 days)\nconst steps = [\n  { step: 1, delay_days: 0, subject_tpl: 'Quick question about {company}', type: 'initial' },\n  { step: 2, delay_days: 3, subject_tpl: 'Following up — {name}', type: 'followup1' },\n  { step: 3, delay_days: 7, subject_tpl: 'One more thought for {company}', type: 'followup2' },\n  { step: 4, delay_days: 14, subject_tpl: 'Should I close your file, {name}?', type: 'breakup' }\n];\n\nconst toSend = [];\n\nfor (const p of prospects) {\n  // Skip replied, bounced, or completed prospects\n  if (p.replied === 'true' || p.replied === true) continue;\n  if (p.bounced === 'true' || p.bounced === true) continue;\n  if (p.status === 'completed' || p.status === 'unsubscribed') continue;\n\n  const currentStep = parseInt(p.step || '0', 10);\n  if (currentStep >= 4) continue; // All steps done\n\n  const nextStepDef = steps[currentStep]; // 0-indexed: step 0 means send step 1\n  if (!nextStepDef) continue;\n\n  // Check if it's time to send\n  const nextSendAt = p.next_send_at ? new Date(p.next_send_at) : new Date(0);\n  if (now < nextSendAt) continue;\n\n  const subject = nextStepDef.subject_tpl\n    .replace('{name}', p.name || 'there')\n    .replace('{company}', p.company || 'your team');\n\n  toSend.push({\n    email: p.email,\n    name: p.name || 'there',\n    company: p.company || '',\n    title: p.title || '',\n    campaign: p.campaign || 'default',\n    step: nextStepDef.step,\n    step_type: nextStepDef.type,\n    subject,\n    next_delay_days: steps[currentStep + 1] ? steps[currentStep + 1].delay_days : 0\n  });\n}\n\nif (toSend.length === 0) {\n  return [{ json: { skip: true, message: 'No emails due' } }];\n}\n\nreturn toSend.map(s => ({ json: s }));"
      },
      "id": "n3",
      "name": "Find Due Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n4",
      "name": "Has Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst templates = {\n  initial: `<p>Hi ${item.name},</p><p>I came across ${item.company || 'your company'} and had a quick question about how you're currently handling automation.</p><p>We help businesses like yours save 10-20 hours per week with custom workflow automation. Would it be worth a quick chat?</p><p>Best regards</p>`,\n  followup1: `<p>Hi ${item.name},</p><p>Just following up on my last email. I know you're busy, so I'll keep this brief.</p><p>We've helped similar companies reduce manual tasks by 60%+. Happy to share a quick case study if you're interested.</p><p>Best regards</p>`,\n  followup2: `<p>Hi ${item.name},</p><p>One more thought — I noticed ${item.company || 'companies in your space'} often struggle with repetitive manual processes.</p><p>Would a 15-minute call be worth your time to explore if we can help?</p><p>Best regards</p>`,\n  breakup: `<p>Hi ${item.name},</p><p>I've reached out a few times and haven't heard back, so I'll assume the timing isn't right.</p><p>I'll close your file for now, but feel free to reach out if things change. No hard feelings!</p><p>All the best</p>`\n};\n\nreturn [{\n  json: {\n    ...item,\n    body: templates[item.step_type] || templates.initial\n  }\n}];"
      },
      "id": "n5",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "n6",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_OUTREACH_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "step": "={{ $json.step }}",
            "status": "={{ $json.step >= 4 ? 'completed' : 'in_sequence' }}",
            "last_sent_at": "={{ new Date().toISOString() }}",
            "next_send_at": "={{ new Date(Date.now() + $json.next_delay_days * 24 * 60 * 60 * 1000).toISOString() }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "next_send_at",
              "displayName": "next_send_at",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "n7",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Check": {
      "main": [
        [
          {
            "node": "Read Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prospects": {
      "main": [
        [
          {
            "node": "Find Due Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Due Emails": {
      "main": [
        [
          {
            "node": "Has Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Emails?": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}