.skills/openclaw-skills/skills/mhmalvi/email-outreach-automation/workflows/03-reply-tracker.json
{
  "name": "Outreach — Reply Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outreach/reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1",
      "name": "Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "outreach-reply"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst email = (body.email || body.from || '').trim().toLowerCase();\nconst subject = (body.subject || '').trim();\nconst message = (body.message || body.body || '').trim();\n\nif (!email) {\n  return [{ json: { error: 'Email is required', valid: false } }];\n}\n\nreturn [{\n  json: {\n    email,\n    subject,\n    message,\n    replied_at: new Date().toISOString(),\n    valid: true\n  }\n}];"
      },
      "id": "n2",
      "name": "Parse Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n3",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_OUTREACH_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "replied": true,
            "replied_at": "={{ $json.replied_at }}",
            "status": "replied"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "replied_at",
              "displayName": "replied_at",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "n4",
      "name": "Mark Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.OUTREACH_ADMIN_EMAIL || 'YOUR_NOTIFICATION_EMAIL' }}",
        "subject": "=Outreach Reply: {{ $json.email }}",
        "message": "=<h3>Reply Received</h3><p><strong>From:</strong> {{ $json.email }}</p><p><strong>Subject:</strong> {{ $json.subject }}</p><p><strong>Message:</strong></p><blockquote>{{ $json.message }}</blockquote><p><strong>Time:</strong> {{ $json.replied_at }}</p>",
        "options": {}
      },
      "id": "n5",
      "name": "Notify Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Reply tracked' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n6",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.error }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n7",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ]
    }
  ],
  "connections": {
    "Reply Webhook": {
      "main": [
        [
          {
            "node": "Parse Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Mark Replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Replied": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}