.skills/openclaw-skills/skills/mhmalvi/google-sheets-reporting/workflows/02-threshold-alerts.json
{
  "name": "Sheets Report — Threshold Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "n1",
      "name": "Hourly Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_REPORT_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Data",
          "mode": "list"
        },
        "options": {}
      },
      "id": "n2",
      "name": "Read Sheet Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// Configure thresholds here (column_name: { min, max })\n// Edit these values to match your sheet columns and desired thresholds\nconst thresholds = JSON.parse($env.ALERT_THRESHOLDS || JSON.stringify({\n  revenue: { min: 100, max: null, label: 'Revenue' },\n  orders: { min: 5, max: null, label: 'Orders' },\n  error_count: { min: null, max: 10, label: 'Error Count' },\n  response_time: { min: null, max: 5000, label: 'Response Time (ms)' }\n}));\n\nconst alerts = [];\n\nfor (const row of rows) {\n  for (const [col, config] of Object.entries(thresholds)) {\n    const value = parseFloat(row[col]);\n    if (isNaN(value)) continue;\n\n    const label = config.label || col;\n\n    if (config.min !== null && config.min !== undefined && value < config.min) {\n      alerts.push({\n        column: label,\n        value,\n        threshold: config.min,\n        direction: 'below minimum',\n        row_id: row.id || row.name || row.email || JSON.stringify(row).slice(0, 50)\n      });\n    }\n\n    if (config.max !== null && config.max !== undefined && value > config.max) {\n      alerts.push({\n        column: label,\n        value,\n        threshold: config.max,\n        direction: 'above maximum',\n        row_id: row.id || row.name || row.email || JSON.stringify(row).slice(0, 50)\n      });\n    }\n  }\n}\n\nif (alerts.length === 0) {\n  return [{ json: { has_alerts: false, message: 'All values within thresholds' } }];\n}\n\nlet alertHtml = '<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\"><tr><th>Column</th><th>Value</th><th>Threshold</th><th>Direction</th><th>Row</th></tr>';\nfor (const a of alerts) {\n  alertHtml += `<tr><td>${a.column}</td><td><strong>${a.value}</strong></td><td>${a.threshold}</td><td>${a.direction}</td><td>${a.row_id}</td></tr>`;\n}\nalertHtml += '</table>';\n\nreturn [{\n  json: {\n    has_alerts: true,\n    alert_count: alerts.length,\n    alert_html: alertHtml,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "n3",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.has_alerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n4",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.REPORT_EMAIL || 'YOUR_NOTIFICATION_EMAIL' }}",
        "subject": "=ALERT: {{ $json.alert_count }} threshold violations detected",
        "message": "=<h2>Threshold Alert</h2><p><strong>Checked at:</strong> {{ $json.checked_at }}</p><p><strong>Violations found:</strong> {{ $json.alert_count }}</p>{{ $json.alert_html }}<p><em>Configure thresholds via the ALERT_THRESHOLDS environment variable.</em></p>",
        "options": {}
      },
      "id": "n5",
      "name": "Send Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Hourly Check": {
      "main": [
        [
          {
            "node": "Read Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet Data": {
      "main": [
        [
          {
            "node": "Check Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}